<div id="About" class="about-container">
 
    <img class="img-about" src="assets/images/profil2.png" alt="" />
 
    <div class="about-text-container">
      <span >About me.</span>
      <span class="about-text"
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
        provident doloribus dolorum quos repellat aliquid quisquam, voluptatibus
        non voluptatum consectetur quidem fugiat illo aspernatur commodi soluta
        dolore veritatis quae aliquam.</span
      >
    </div>
  
  
  </div>
  
  <div class="over-line">
  <div class="line"></div>
  
  </div>
  
