.mywork-container {
  display: flex;
  justify-content: center;
  border-radius: 0px;
  flex-direction: column;
  align-items: center;

  h2 {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100px;
    color: #ffffff;
  }
}

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 500px;

  button {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: blue;
      border-radius: 2px;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background-color: darken(blue, 15%);
      transition: all 0.3s;
      border-radius: 2px;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
}

.categorie-filter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  padding: 10px 0;
  box-shadow: 0px 1px 0px 0px;
}

.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-card {
  border: 2px solid rgba(26, 121, 237, 0.8);
  border-radius: 10px;
  width: 450px;
  height: 450px;
  margin: 20px;
  position: relative; /*relevant for project-overlay*/
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-card:hover .project-img {
  filter: blur(20px);
}

.project-img {
  width: 100%;
  height: 100%;

  transition: filter 900ms ease-in-out;
}

.project-overlay {
  opacity: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(6, 43, 255, 0.1);
  display: flex;
  flex-direction: column;

  transition: opacity 300ms ease-in-out;
  p {
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  a {
    color: #ecdddd;
    font-size: 30px;
  }
}

.project-overlay button {
  cursor: pointer;
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: rgb(0, 4, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #2200ff,
    #0bf7ff,
    #0033ff,
    #0088ff,
    #00ffd5,
    #002bff,
    #7a00ff,
    #3e2fa0,
    #0066ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: rgb(17, 0, 255);
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(18, 10, 243);
  left: 0;
  top: 0;
  border-radius: 10px;
}

@media (max-width: 1440px) {
  .project-card {
    width: 250px;
    height: 250px;
  }
}
