<div class="skills-container">
    <span>MY Skills</span>
  
    <div class="icon-container">
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="j-img" src="assets/icons/java script.png" />
        </div>
        <div class="skill-name"><h3>Java script</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="A-img" src="assets/icons/angular.png" />
        </div>
        <div class="skill-name"><h3>Angular</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="H-img" src="assets/icons/Group 205.png" />
        </div>
        <div class="skill-name"><h3>HTML/CSS</h3></div>
      </div>
    </div>
  
    <div class="icon-container">
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="j-img" src="assets/icons/Group 226.png" />
        </div>
        <div class="skill-name"><h3>SCRUM</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="j-img" src="assets/icons/Git-Icon-1788C 2.png" />
        </div>
        <div class="skill-name"><h3>Git</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="H-img" src="assets/icons/Group 20.png" />
        </div>
        <div class="skill-name">
          <h3>Design<br/>Thinking</h3>
        </div>
      </div>
    </div>
  
    <div class="icon-container">
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="j-img" src="assets/icons/icons8-rest-api-80 2.png" />
        </div>
        <div class="skill-name"><h3>Rest API</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="j-img" src="assets/icons/icons8-test-lab-96 2.png" />
        </div>
        <div class="skill-name"><h3>Test<br>automation</h3></div>
      </div>
      <div class="skill-name-container">
        <div class="icon-img">
          <img class="H-img" src="assets/icons/icons8-database-52 2.png" />
        </div>
        <div class="skill-name"><h3>Databases</h3></div>
      </div>
    </div>
  </div>
