.name {
  margin-top: 50px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
  color: #ffffff;

  animation: an 4s ease-out 1 both;
  span {
    color: rgba(26, 121, 237, 0.8);
  }
}

.Profil-img-container{
  margin-top: 53px;
  background-color:rgb(61, 90, 254);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;

  img {
    width: 330px;
    height: 440px;
    border-radius: 50%;
 
    background: none;
  }
}

.container {
  height: 556px;
  left: 0px;
  display: flex;
  justify-content: space-evenly;


}

.skills-container {
  height: 777px;
  left: 0px;
  top: 812px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #131111;

  span {
    height: 90px;
    left: 636px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 100px;
    color: #ffffff;
  }
}

.skill-name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 182.97px;
  height: 119.92px;
  left: 403px;
  top: 971.75px;
  background: #ffffff;
  border-radius: 6px;
  text-align: center;
  h3 {
    font-family: "Roboto", sans-serif;
    color: #000000;
  }
}

.icon-img {
  width: 64.31px;
  height: 60.31px;
  border-radius: 39px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(197 197 197 / 25%);
  display: flex;
  margin-bottom: -30px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.icon-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.skill-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 35px;
}

.A-img {
  height: 38px;
  width: 38px;
  left: 711px;
  top: 970px;
  border-radius: 0px;
  border-radius: 25px;
  background: #53c1de;
}

.j-img {
  width: 35px;
  height: 35px;
}

.H-img {
  width: 35px;
  height: 35px;
}

@keyframes an {
  from {
    opacity: 0;
    transform: perspective(500px) translate3d(-35px, -40px, -150px)
      rotate3d(1, -1, 0, 35deg);
  }
  to {
    opacity: 1;
    transform: perspective(500px) translate3d(0, 0, 0);
  }
}
